.swiper{
    padding-bottom: 18px !important;
}
.swiper .swiper-button-next{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    top: 30%;
    right: -50px;
    transition-duration: 500ms;
    cursor: pointer;
}
.active .swiper-button-next{
    right: 20px;
    transition-duration: 500ms;
}
.swiper .swiper-button-next::after{
    /* display: none; */
    content: "";
    padding: 5px;
    border-width: 4px 4px 0 0 ;
    position: absolute;
    top: 33%;
    right: -75px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition-duration: 500ms;
}
.active .swiper-button-next::after{
    right: 20px;
    transition-duration: 500ms;
}
.swiper .swiper-button-prev{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    top: 30%;
    left: -50px;
    transition-duration: 500ms;
    cursor: pointer;
}
.active .swiper-button-prev{
    left: 20px;
    transition-duration: 500ms;
}
.swiper .swiper-button-prev::after{
    /* display: none; */
    content: "";
    padding: 5px;
    border-width: 4px 0 0 4px ;
    position: absolute;
    top: 33%;
    left: -75px;
    transform: rotate(-45deg);
    border-radius: 2px;
    transition-duration: 500ms;
}
.active .swiper-button-prev::after{
    left: 20px;
    transition-duration: 500ms;
}