.SponsoredSlider .swiper .swiper-button-next{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    top: 30%;
    right: -50px;
    transition-duration: 500ms;
    cursor: pointer;
}
.SponsoredSlider .active .swiper-button-next{
    right: 20px;
    transition-duration: 500ms;
}
.SponsoredSlider .swiper .swiper-button-next::after{
    /* display: none; */
    content: "";
    padding: 5px;
    border-width: 4px 4px 0 0 ;
    position: absolute;
    top: 33%;
    right: -75px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition-duration: 500ms;
}
.SponsoredSlider .active .swiper-button-next::after{
    right: 20px;
    transition-duration: 500ms;
}
.SponsoredSlider .swiper .swiper-button-prev{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    top: 30%;
    left: -50px;
    transition-duration: 500ms;
    cursor: pointer;
}
.SponsoredSlider .active .swiper-button-prev{
    left: 20px;
    transition-duration: 500ms;
}
.SponsoredSlider .swiper .swiper-button-prev::after{
    /* display: none; */
    content: "";
    padding: 5px;
    border-width: 4px 0 0 4px ;
    position: absolute;
    top: 33%;
    left: -75px;
    transform: rotate(-45deg);
    border-radius: 2px;
    transition-duration: 500ms;
}
.SponsoredSlider .active .swiper-button-prev::after{
    left: 20px;
    transition-duration: 500ms;
}

/* //TrendingStripSlider */

.TrendingStripSlider .swiper .swiper-button-next{
    height: 24px !important;
    width: 24px !important;
    border-radius: 50%;
    top: 30px;
    right: 20px !important;
    left: auto;
    cursor: pointer;
    background-color: white;
}

.TrendingStripSlider .swiper .swiper-button-next::after{
    content: "";
    padding: 4px;
    border-width: 3px 3px 0 0 ;
    border-color: gray;
    position: absolute;
    transform: rotate(45deg) translateX(-10%);
    border-radius: 2px;
    transition-duration: 500ms;
}

.TrendingStripSlider .swiper .swiper-button-prev{
    height: 24px !important;
    width: 24px !important;
    border-radius: 50%;
    top: 30px;
    right: 50px !important;
    left: auto;
    cursor: pointer;
    background-color: white;
}

.TrendingStripSlider .swiper .swiper-button-prev::after{
    content: "";
    padding: 4px;
    border-width: 3px 0 0 3px ;
    border-color: gray;
    position: absolute;
    transform: rotate(-45deg)  translateX(10%);
    border-radius: 2px;
    transition-duration: 500ms;
}

@media (max-width:768px){
    .TrendingStripSlider .swiper .swiper-button-next , .TrendingStripSlider .swiper .swiper-button-prev {
        display: none !important;
    }
    .TrendingStripSlider .swiper{
        width: 100% !important;
    }
}
